::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(41, 41, 41);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(24, 24, 24);
}
.g{
    background-color:rgb(255, 237, 78);
}